.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
}
.tarih {
  background-color: #1c768167;
  
  position: sticky;
  top: 0;
  border: 1px solid rgba(173, 181, 255, 0.151);
  border-radius: 0px 0px 12px 12px;
}
.card {
  display: flex;
  padding: 8px;
  min-width: 280px;
  word-wrap: break-word;
  word-break: break-all;
  height: fit-content;
  border-radius: 12px;
  background: #eee;
  flex-shrink: 0;
  flex-direction: column;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: bold;
  color: black;
  margin: 7px;
  box-shadow: 5px 5px #888888;
}
