.aytem {
  border:1px solid rgb(51, 43, 43);
  margin: 4px;
  justify-content: space-between;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
}
h4{
  word-break: break-all;
  
}
.dis{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}
.gun {
  display: grid;
  grid-template-columns: 20% 80%;
  border: 2px solid;
  margin: 4px 0px;
  align-items: center;
  font-weight:lighter;
  min-width: max-content;
  
}
.bugun {
  display: grid;
  grid-template-columns: 20% 80%;
  border: 2px solid;
  margin: 4px 0px;
  align-items: center;
  background-color: #1c768167;
  font-weight: 900;
  min-width: max-content;
  
  
}
.cbp{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  padding: 1%;
  min-width: max-content;

}
.parca{
  border: solid #555;
  border-width: 0 0 1px 0;
  display: flex;
  background-color: #dddddd66;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  min-width: max-content;
}
.butonlar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.div{
  align-items: center;
  justify-content: center;
  min-width: max-content;
}



