.aytem {
  border:2px solid rgb(51, 43, 43);
  margin: 4px;
  justify-content: space-between;
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
}
h4{
  word-wrap: break-word;
  
}
.dis{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
}
.gun {
  display: grid;
  grid-template-columns: 20% 80%;
  border: 2px solid;
  margin: 4px 0px;
  align-items: center;
  
}
.cbp{
  
  display: flex;
  flex-direction: row;
  align-items: center;

}
.altItem{
  border: solid #555;
  border-width: 0 0 1px 0;
  display: flex;
  background-color: #dddddd66;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}
.butonlar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  
}

.btn {
  border: 2px solid #555;
  border-radius: 4px;
  background-color: transparent;
  width: min-content;
  height: min-content;
  
  transition: border-color 0.5s;
}
.btn:hover {
  cursor: pointer;
  border-color: #aaa;
}

.btn:after {
  content: "v";
  padding: 2px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  color: #222;
  background-color: transparent;
}
